<section class="components">
  <h2 class="components-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="components-orange-word">TASTE</span> SENSATION
  </h2>
  <p class="components-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>

  <ul class="components-list">
    <li class="components-list-item orange-bg">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/kisspng-milk-white-mobile@2x.webp 2x"
            src="./img/images_mobile/kisspng-milk-white-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-white">
            MILK CHOCOLATE
          </p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Milk chocolate</h3>
          <!-- <a class="components-btn-overlay-link" href="#">chocolate</a> -->
          <!-- <a class="components-btn-overlay-link" href="#">the benefits</a> -->
          <p class="components-text-overlay">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </a>
    </li>

    <li class="components-list-item orange-border">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/kisspng-milk-mobile@2x.webp 2x"
            src="./img/images_mobile/kisspng-milk-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-black">Milk</p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Milk</h3>
          <div class="components-btns">
            <!-- <a class="components-btn-overlay-link" href="#">milk</a> -->
            <!-- <a class="components-btn-overlay-link" href="#">the benefits</a> -->
          </div>
          <p class="components-text-overlay">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </a>
    </li>

    <li class="components-list-item nuts-bg">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="
              ./img/images_mobile/kisspng-milk-white-nuts-mobile@2x.webp 2x
            "
            src="./img/images_mobile/kisspng-milk-white-nuts-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-white">nuts</p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Nuts</h3>
          <div class="components-btns">
            <!-- <a class="components-btn-overlay-link" href="#">nuts</a> -->
            <!-- <a class="components-btn-overlay-link" href="#">the benefits</a> -->
          </div>
          <p class="components-text-overlay">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </a>
    </li>

    <li class="components-list-item orange-border">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/chocolate-bar-mobile@2x.webp 2x"
            src="./img/images_mobile/chocolate-bar-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-black">
            SEMI-SWEET CHOCOLATE
          </p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">sweet chocolate</h3>
          <div class="components-btns">
            <!-- <a class="components-btn-overlay-link" href="#">sweet chocolate</a> -->
            <!-- <a class="components-btn-overlay-link" href="#">the benefits</a> -->
          </div>
          <p class="components-text-overlay">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
