<section class="components">
  <h2 class="components-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="components-orange-word">TASTE</span> SENSATION
  </h2>
  <p class="components-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>

  <ul class="components-list">
    <li class="components-list-item orange-bg">
      <a href="" class="components-link">
        <img
          src="./img/images_mobile/kisspng-milk-white-mobile.webp"
          alt="piece of chocolate"
          class="components-list-img"
          width="224"
          height="171"
        />
        <p class="components-list-text components-list-text-white">
          MILK CHOCOLATE
        </p>
      </a>
    </li>
    <li class="components-list-item orange-border">
      <a href="" class="components-link">
        <img
          src="./img/images_mobile/kisspng-milk-mobile.webp"
          alt="piece of chocolate"
          class="components-list-img"
          width="224"
          height="171"
        />
        <p class="components-list-text components-list-text-black">Milk</p>
      </a>
    </li>
    <li class="components-list-item nuts-bg">
      <a href="" class="components-link">
        <img
          src="./img/images_mobile/kisspng-milk-white-nuts-mobile.webp"
          alt="piece of chocolate"
          class="components-list-img"
          width="224"
          height="171"
        />
        <p class="components-list-text components-list-text-white">nuts</p>
      </a>
    </li>
    <li class="components-list-item orange-border">
      <a href="" class="components-link">
        <img
          src="./img/images_mobile/chocolate-bar-mobile.webp"
          alt="piece of chocolate"
          class="components-list-img"
          width="224"
          height="171"
        />
        <p class="components-list-text components-list-text-black">
          sEMI-SWEET CHOCOLATE
        </p>
      </a>
    </li>
  </ul>
</section>
