<section class="components">
  <h2 class="components-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="components-orange-word">TASTE</span> SENSATION
  </h2>
  <p class="components-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="components-list">
    <li class="components-list-item orange-bg">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/kisspng-milk-white-mobile@2x.webp 2x"
            src="./img/images_mobile/kisspng-milk-white-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-white">
            MILK CHOCOLATE
          </p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Milk chocolate</h3>
          <div class="components-btn-container">
            <p class="components-btn-overlay-link">chocolate</p>
            <p class="components-btn-overlay-link">the benefits</p>
          </div>
          <div class="components-text-container-overlay">
            <p class="components-text-overlay">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </a>
    </li>
    <li class="components-list-item orange-border components-order-two">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/kisspng-milk-mobile@2x.webp 2x"
            src="./img/images_mobile/kisspng-milk-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-black">Milk</p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Milk</h3>
          <div class="components-btn-container">
            <p class="components-btn-overlay-link">milk</p>
            <p class="components-btn-overlay-link">the benefits</p>
          </div>
          <div class="components-text-container-overlay">
            <p class="components-text-overlay">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </a>
    </li>
    <li class="components-list-item nuts-bg components-order-three">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="
              ./img/images_mobile/kisspng-milk-white-nuts-mobile@2x.webp 2x
            "
            src="./img/images_mobile/kisspng-milk-white-nuts-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p
            class="components-list-text components-list-text-white components-order-four"
          >
            nuts
          </p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">Nuts</h3>
          <div class="components-btn-container">
            <p class="components-btn-overlay-link">nuts</p>
            <p class="components-btn-overlay-link">the benefits</p>
          </div>
          <div class="components-text-container-overlay">
            <p class="components-text-overlay">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </a>
    </li>
    <li class="components-list-item orange-border">
      <a href="" class="components-link">
        <div class="components-link-item-one">
          <img
            srcset="./img/images_mobile/chocolate-bar-mobile@2x.webp 2x"
            src="./img/images_mobile/chocolate-bar-mobile.webp"
            alt="piece of chocolate"
            class="components-list-img"
          />
          <p class="components-list-text components-list-text-black">
            SEMI-SWEET CHOCOLATE
          </p>
        </div>
        <div class="components-card-overlay">
          <h3 class="components-text-title-overlay">sweet chocolate</h3>
          <div class="components-btn-container">
            <p class="components-btn-overlay-link">sweet chocolate</p>
            <p class="components-btn-overlay-link">the benefits</p>
          </div>
          <div class="components-text-container-overlay">
            <p class="components-text-overlay">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
