<footer class="footer" id="footer">
  <div class="container container-footer">
    <div class="footer-top">
      <h2 class="footer-title">
        <span class="footer-title-span">Chocolate</span> a delicious cure for a
        bad day
      </h2>
      <div class="footer-top-wrap">
        <address class="footer-address">
          <p class="footer-sub-title">Contact us</p>
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <a class="footer-address-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-item">
              <a class="footer-address-link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="../index.html" class="footer-social-link">
              <svg class="footer-svg" width="22" height="22">
                <use href="../img/icons.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="../index.html" class="footer-social-link">
              <svg class="footer-svg" width="22" height="22">
                <use href="../img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <nav class="footer-nav">
        <ul class="footer-bottom-list">
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#home">Home</a>
          </li>
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#how-it’s-made?"
              >How it’s made?</a
            >
          </li>
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#our-products">Our products</a>
          </li>
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#top-sellers">Top sellers</a>
          </li>
          <li class="footer-bottom-item">
            <a class="footer-bottom-link" href="#chocolate-is-loved"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
