<header>
    <div class="container-header">
        <div class="header">
            <div class="logo-header">
                <span> <span class="simply-header">SIMPLY</span> CHOCOLATE</span>
                <svg width="21" height="14" class="header-logo">
                    <use href="../img/symbol-defs.svg#icon-logo"></use>
                </svg>
            </div>
            <button class="burger-btn js-open-menu"> <svg width="21" height="14" class="header-bur">
                    <use href="../img/symbol-defs.svg#icon-burger"></use>
                </svg></button>
            <div class="header-desktop-vew">
                <nav>
                    <ul class="nav-desktop-header">
                        <li class="item-header"> <a href="#home" class="desk-header">Home</a></li>
                        <li class="item-header"> <a href="#how-its-made-headline" class="desk-header">How it&#39;s
                                made?</a></li>
                        <li class="item-header"> <a href="#our-products" class="desk-header">Our products</a></li>
                        <li class="item-header"> <a href="#top-sellers" class="desk-header">Top sellers</a></li>
                        <li class="item-header"> <a href="#is-loved" class="desk-header">Chocolate is loved</a></li>
                    </ul>
                </nav>
                <ul class="soc-desktop-header">
                    <li class="social-link-desktop-header">
                        <a href="http://" class="link-desktop">
                            <svg class="icon-header icon-instagram" width="24" height="24">
                                <use href="../img/symbol-defs.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-link-desktop-header">
                        <a href="http://" class="link-desktop">
                            <svg class="icon-header icon-twitter" width="24" height="24">
                                <use href="../img/symbol-defs.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-mobile js-menu-container">
            <nav>
                <button class="cross-btn js-close-menu">
                    <svg class="header-x">
                        <use href="../img/symbol-defs.svg#icon-small_x"></use>
                    </svg>
                </button>
                <ul class="nav-mobile">
                    <li class="item-header"> <a href="#home" class="desk-header">Home</a></li>
                    <li class="item-header"> <a href="#how-its-made-headline" class="desk-header">How it&#39;s made?</a>
                    </li>
                    <li class="item-header"> <a href="#our-products" class="desk-header">Our products</a></li>
                    <li class="item-header"> <a href="#top-sellers" class="desk-header">Top sellers</a></li>
                    <li class="item-header"> <a href="#is-loved" class="desk-header">Chocolate is loved</a></li>
                </ul>
            </nav>
            <ul class="soc-net-mobile">
                <li class="social-link">
                    <a href="http://" class="link-header-mobile">
                        <svg class="icon-header icon-instagram">
                            <use href="../img/symbol-defs.svg#icon-instagram_mobile"></use>
                        </svg></a>
                </li>
                <li class="social-link">
                    <a href="http://" class="link-header-mobile">
                        <svg class="icon-header icon-twitter">
                            <use href="../img/symbol-defs.svg#icon-twitter_mobile"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
    </div>
</header>