<section id="home">
    <div class="container-header hero">
        <h1 class="visually-hidden">CHOCOLATE</h1>
        <p class="hero-text">Treat yourself or a loved one to
            our finest ingredients for a moment
            of pure delight!</p>
        <div class="hero-btn-tablet">
            <ul class="hero-btn">
                <li class="item-hero"> <button data-modal-open class="btn-hero btn-i-hero ">Buy now</button></li>
                <li class="item-hero"> <a href="#how-its-made-headline" class="btn-ii-hero-a">  <button class="btn-hero btn-ii-hero">How it&#39;s made</button></a></li>
            </ul>
            <div> <a href="#footer" class="hero-scroll">
                <p class="hero-scroll-text">scroll down</p>
                <button class="btn-check-hero">
                    <svg width="16" height="16" class="hero-check">
                            <use href="../img/symbol-defs.svg#icon-arrow_big"></use>
                    </svg>
                </button></a>
            </div>
        </div>
    </div>
</section>