<section class="how-its-made">
    <div class="h-i-m-container">
        <h1 class="how-its-made-title" id="how-its-made-headline">HOW IT’S <span class="title-accent">MADE?</span>
        </h1>
        <div class="video-list-wrap">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/3tOr4F7hJiM" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen style="border: none;" referrerpolicy="no-referrer"
                    class="how-its-made-video"></iframe>
            </div>
            <div class="how-its-made-list-wrap">
                <h2 class="how-its-made-text">Try our chocolates today and discover the perfect balance of flavor
                </h2>
                <ul class="cook-choc-list list">
                    <li class="cook-choc-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar
                        and
                        cocoa powder.</li>
                    <li class="cook-choc-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                    <li class="cook-choc-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with
                        a
                        silicone spatula so that the mass becomes
                        uniform and silky.</li>
                    <li class="cook-choc-item">Heat the mixture over low heat, letting it barely boil.</li>
                    <li class="cook-choc-item">Pour the chocolate into special containers (can be replaced with ice
                        molds).
                        Allow to cool and harden.</li>
                </ul>
            </div>
        </div>
    </div>

</section>