<div class="reviews-modal-feedback modal" data-modal="5">
  <button type="button" class="reviews-modal-feedback-close js-modal-close">
    <svg class="reviews-modal-feedback-close-icon" width="40" height="40">
      <use href="/img/symbol-defs.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="reviews-modal-feedback-form">
    <h2 class="reviews-modal-feedback-title">thank you for your feedback!</h2>
    <p class="reviews-modal-feedback-text">We are so happy to hear from you!</p>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
