<div class="reviews-backdrop-buying is-hidden" data-modal>
  <div class="reviews-modal-buying">
    <button type="button" class="reviews-modal-buying-close" data-modal-close>
      <svg class="reviews-modal-buying-close-icon" width="40" height="40">
        <use href="/img/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="reviews-modal-buying-form">
      <h2 class="reviews-modal-buying-title">thank you!</h2>
      <p class="reviews-modal-buying-text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
  </div>
</div>
