<section data-modal class="backdrop is-hidden">
  <div class="modal-subscribe">
    <div class="modal-subscribe-img-mob">
      <button data-modal-close class="modal-subscribe-btn-x">
        <svg class="modal-subscribe-icon-cross">
          <use href="/img/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-subscribe-form">
      <p class="modal-subscribe-title">
        Explore our <br /><span class="modal-subscribe-akcent"
          >new chocolate</span
        >
        first!
      </p>
      <div class="modal-subscribe-form-wrap">
        <form class="modal-subscribe-input" id="modal-subscribe-form">
          <input
            type="email"
            name="mailto"
            id="mailto"
            placeholder="Enter your email"
          />
          <button class="modal-btn" form="modal-subscribe-form">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
