<section class="products">
  <h2 class="products-title">OUR PRODUCTS</h2>
  <ul class="products-list">
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-1.jpg"
        alt="chocolate_1"
        srcset="../img/image-1.jpg 1x, ../img/image-1@2x.jpg 2x"
      />
      <div>
        <h3>ORANGE</h3>
        <p>Dark chocolate</p>
      </div>
      <button>45 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-2.jpg"
        alt="chocolate_2"
        srcset="../img/image-2.jpg 1x, ../img/image-2@2x.jpg 2x"
      />
      <div>
        <h3>APPLE&CRANBERRY</h3>
        <p>Milk chocolate</p>
      </div>
      <button>50 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-3.jpg"
        alt="chocolate_3"
        srcset="../img/image-3.jpg 1x, ../img/image-3@2x.jpg 2x"
      />
      <div>
        <h3>lime&sea salt</h3>
        <p>Dark chocolate</p>
      </div>
      <button>66 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-4.jpg"
        alt="chocolate_4"
        srcset="../img/image-4.jpg 1x, ../img/image-4@2x.jpg 2x"
      />
      <div>
        <h3>pineapple</h3>
        <p>Dark chocolate</p>
      </div>
      <button>54 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-5.jpg"
        alt="chocolate_5"
        srcset="../img/image-5.jpg 1x, ../img/image-5@2x.jpg 2x"
      />
      <div>
        <h3>Classic</h3>
        <p>Milk chocolate</p>
      </div>
      <button>45 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-6.jpg"
        alt="chocolate_6"
        srcset="../img/image-6.jpg 1x, ../img/image-6@2x.jpg 2x"
      />
      <div>
        <h3>honey</h3>
        <p>Milk chocolate</p>
      </div>
      <button>50 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-7.jpg"
        alt="chocolate_7"
        srcset="../img/image-7.jpg 1x, ../img/image-7@2x.jpg 2x"
      />
      <div>
        <h3>Roasted fruits</h3>
        <p>Dark chocolate</p>
      </div>
      <button>66 UAH</button>
    </li>
    <li class="products-item">
      <img
        class="products-picture"
        src="../img/image-8.jpg"
        alt="chocolate_8"
        srcset="../img/image-8.jpg 1x, ../img/image-8@2x.jpg 2x"
      />
      <div>
        <h3>Classic</h3>
        <p>White chocolate</p>
      </div>
      <button>54 UAH</button>
    </li>
  </ul>
</section>
