<section class="products" id="our-products">
  <div class="products-container">
    <h2 class="products-title">
      OUR <span class="products-title-span">PRODUCTS</span>
    </h2>
    <ul class="products-list">
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-1.jpg"
          alt="chocolate_1"
          srcset="/img/image-1.jpg 1x, /img/image-1@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">ORANGE</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-2.jpg"
          alt="chocolate_2"
          srcset="/img/image-2.jpg 1x, /img/image-2@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">APPLE&CRANBERRY</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-3.jpg"
          alt="chocolate_3"
          srcset="/img/image-3.jpg 1x, /img/image-3@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">lime&sea salt</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-4.jpg"
          alt="chocolate_4"
          srcset="/img/image-4.jpg 1x, /img/image-4@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">pineapple</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <button class="products-btn">54 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-5.jpg"
          alt="chocolate_5"
          srcset="/img/image-5.jpg 1x, /img/image-5@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">Classic</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-6.jpg"
          alt="chocolate_6"
          srcset="/img/image-6.jpg 1x, /img/image-6@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">honey</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-7.jpg"
          alt="chocolate_7"
          srcset="/img/image-7.jpg 1x, /img/image-7@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">Roasted fruits</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          src="/img/image-8.jpg"
          alt="chocolate_8"
          srcset="/img/image-8.jpg 1x, /img/image-8@2x.jpg 2x"
        />
        <div class="products-description">
          <h3 class="products-subtitle">Classic</h3>
          <p class="products-text">White chocolate</p>
        </div>
        <button class="products-btn">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
