<section id="is-loved" class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">
      <span class="reviews-logo">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-1.jpg 1x, ./img/ellipse-1@2x.jpg 2x"
            src="./img/ellipse-1.jpg"
            alt="Danilo Nottingham"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Danilo Nottingham</h3>
            <p class="reviews-response">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-2.jpg 1x, ./img/elipse-2@2x.jpg 2x"
            src="./img/ellipse-2.jpg"
            alt="Irina Tydnyuk"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Irina Tydnyuk</h3>
            <p class="reviews-response">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-3.jpg 1x, ./img/ellipse-3@2x.jpg 2x"
            src="./img/ellipse-3.jpg"
            alt="Natalia Sus"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Natalia Sus</h3>
            <p class="reviews-response">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-4.jpg 1x, ./img/ellipse-4@2x.jpg 2x"
            src="./img/ellipse-4.jpg"
            alt="Victoria Dobrzhanska"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="reviews-response">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-5.jpg 1x, ./img/ellipse-5@2x.jpg 2x"
            src="../img/ellipse-5.jpg"
            alt="Nazar Babenko"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="reviews-response">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <div class="reviews-item-slider">
          <img
            class="reviews-img"
            srcset="./img/ellipse-6.jpg 1x, ./img/ellipse-6@2x.jpg 2x"
            src="../img/ellipse-6.jpg"
            alt="Olena Kampusch"
            width="80"
          />
          <div class="reviews-text">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="reviews-response">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button class="revies-button" type="button">Leave a review</button>
  </div>
</section>
