<section id="top-sellers" class="top-sellers">
    <div class="top-sellers-container">
      <h2 class="top-sellers-title"><span class="title-color">TOP</span> SELLERS</h2>
      <ul class="top-sellers-list list">
        <li class="top-sellers-item">
          <picture>

            <source srcset="
            /img/top-sellers-nuts-pc.jpg 1x,
            /img/top-sellers-nuts-pc@2x.jpg 2x
            " media="(min-width: 1200px)" />

            <source srcset="
            /img/images_tablet/top-sellers-nuts-tablet.jpg 1x,
            /img/images_tablet/top-sellers-nuts-tablet@2x.jpg 2x
            " media="(min-width: 768px)" />

            <source srcset="
            /img/images_mobile/top-sellers-chocolateb-mobile.jpg 1x,
            /img/images_mobile/top-sellers-chocolateb-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />


            <img class="top-sel-pic" src="/img/images_mobile/top-sellers-chocolateb-mobile.jpg" alt="coffee and chocolate" width="368"
              height="464" />
          </picture>
          <p class="top-sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called
            Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe
            called the Mayans.</p>
        </li>

        <li class="top-sellers-item">
          <picture>
            <source srcset="
            /img/top-sellers-chocolatew-pc.jpg 1x,
            /img/top-sellers-chocolatew-pc@2x.jpg 2x
            " media="(min-width: 1200px)" />

            <source srcset="
            /img/images_tablet/top-sellers-chocolatew-tablet.jpg 1x,
            /img/images_tablet/top-sellers-chocolatew-tablet@2x.jpg 2x
            " media="(min-width: 768px)" />

            <source srcset="
            /img/images_mobile/top-sellers-chocolatew-mobile.jpg 1x,
            /img/images_mobile/top-sellers-chocolatew-mobile@2x.jpg 2x
            " media="(max-width: 767px)" />

            <img class="top-sel-pic" src="/img/images_mobile/top-sellers-chocolatew-mobile.jpg" alt="chocolate" width="368"
              height="464" />
          </picture>
        </li>

        <li class="top-sellers-item">
          <picture>
            <source srcset="
            /img/top-sellers-chocolateb-pc.jpg 1x,
            /img/top-sellers-chocolateb-pc@2x-1.jpg 2x
            " media="(min-width: 1200px)" />

            <img class="top-sel-pic" src="/img/top-sellers-chocolateb-pc.jpg" alt="chocolate" width="368" height="464" />
          </picture>
        </li>
      </ul>
      <div class="top-sellers-div">
        <p class="top-sellers-paragraph">Crazy enough chocolate originates from a bean just like the coffee bean called
          Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe
          called the Mayans.</p>
        <button class="top-sellers-btn" type="button" data-modal-open>Buy now</button>
      </div>
    </div>
  </section>