<section class="top sellers">
    <div class="container">
    <h2 class="top sellers-title">TOP SELLERS</h2>
    <ul class="top sellers-list list">
        <li class="top sellers-item">
            <img
            src="./images/choko/top-sellers-chocolateb-mobile.jpg" 
            alt="coffee and chocolate"
            srcset="
            ./images/choko/top-sellers-chocolateb-mobile.jpg 1x, 
            ./images/choko/top-sellers-chocolateb-mobile@2x.jpg 2x
            "
            width="335"
            height="464"
            />
            <p class="top sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        </li>
        <li class="top sellers-item">
            <img
            src="./images/choko/top-sellers-chocolatew-mobile.jpg"
            alt="chocolate"
            srcset="
            ./images/choko/top-sellers-chocolatew-mobile.jpg 1x, 
            ./images/choko/top-sellers-chocolatew-mobile@2x.jpg 2x
            "
            width="335"
            height="464"
            />
        </li>
    </ul>
    <button class="top sellers-btn" type="button" data-modal-open>Buy now</button>
</div>
</section>