.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--accent-color);
}
.advantages-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-item {
  padding-right: 28px;
}
.advantages-item:first-child {
  padding-top: 9px;
  padding-bottom: 9px;
}
.advantages-item:last-child {
  padding-bottom: 16px;
}

.advantages-icon {
  display: flex;
  width: 62px;
  height: 62px;

  border: 1px solid var(--border-icons-line);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.advantages-svg {
  fill: var(--secondary-text-color);
}
.advantages-subtitle {
  margin-top: 22px;
  margin-bottom: 18px;
  color: var(--primary-white-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.advantages-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: var(--third-text-color);
}

@media screen and (min-width: 375px) {
  .advantages-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .advantages-item {
    display: flex;
    flex-direction: column;

    width: 336px;
    height: 244px;
  }
  .advantages-item:last-child {
    padding-bottom: 35px;
  }

  .advantages-text {
    letter-spacing: -0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1200px;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 70px;
  }

  .advantages-item:not(:last-child) {
    width: 326px;
    padding-right: 18px;
  }
  .advantages-item:last-child {
    width: 308px;
    padding-right: 0px;
  }
  .advantages-item {
    position: relative;
  }
  .advantages-item:not(:last-child)::after {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: -62px;

    width: 124px;
    height: 0px;

    border: 1px solid var(--border-icons-line);
    transform: rotate(90deg);
  }
}
