:root {
  /* FONTS */
  --regular: font-weight:400;
  --medium: font-weight:500;
  --bold: font-weight:600;
  /* COLOR */
  --primary-text-color:#111111;
  --secondary-text-color:#FD9222;
  --third-text-color:rgba(255, 255, 255, 0.7);
  --accent-color:#1E1823;
  --secondary-accent-color:#FD9222;
  --secondary-color-btn:#FCF1E0;
  --primary-white-color: #ffffff;
  --border-icons-line:rgba(255, 255, 255, 0.5);
  --bg-primary-color:#FAFAFA;
  --backdrop: rgba(46, 47, 66, 0.4);
  --bg-grad-footer:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --bg-grad-hero:linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);
  /* ANIMATIONS */
  --function-duration: 350ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body, button, link, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 400;
}