.components {
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.components-title {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 24px;
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
}

.components-orange-word {
  color: #fd9222;
}

.components-text {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
  margin-bottom: 32px;
}

.components-list {
  display: block;
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
}

.components-list-item {
  width: 335px;
  height: 270px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.components-link {
  width: 100%;
  height: 100%;
}

.components-card-overlay {
  background-color: #ffffff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px;
  overflow-y: auto;
  transform: translateY(100%);
  opacity: 0;
  transition: transform cubic-bezier(0.42, 0, 0.58, 1) 250ms,
    opacity cubic-bezier(0.42, 0, 0.58, 1) 250ms;
}

.components-link:hover .components-card-overlay,
.components-link:focus .components-card-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.components-text-title-overlay {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 8px;
}

.components-btns {
  display: flex;
  gap: 6px;
}

.components-btn-overlay {
  height: 24px;
  background: #fafafa;
  border: 1px solid #fd9222;
  border-radius: 35px;
  margin-bottom: 14px;
  padding: 6px 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111111;
  transition: background-color cubic-bezier(0.42, 0, 0.58, 1) 250ms,
    color cubic-bezier(0.42, 0, 0.58, 1) 250ms;
}

.components-btn-overlay:hover,
.components-btn-overlay:focus {
  border-color: transparent;
  background-color: #fd9222;
  color: #ffffff;
}

.components-text-overlay {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.components-list-img {
  margin-top: 28px;
  margin-left: 56px;
  margin-bottom: 25px;
}

.orange-bg {
  background-color: #fd9222;
  transition: background-color cubic-bezier(0.42, 0, 0.58, 1) 250ms,
    box-shadow cubic-bezier(0.42, 0, 0.58, 1) 250ms;
}

.orange-bg:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.orange-border {
  border: 1px solid #fd9222;
  transition: border-color cubic-bezier(0.42, 0, 0.58, 1) 250ms,
    box-shadow cubic-bezier(0.42, 0, 0.58, 1) 250ms;
}

.orange-border:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.nuts-bg {
  background-color: #1e1823;
  transition: background-color cubic-bezier(0.42, 0, 0.58, 1) 250ms,
    box-shadow cubic-bezier(0.42, 0, 0.58, 1) 250ms;
}

.nuts-bg:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.components-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.components-list-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-left: 28px;
}

.components-list-text-white {
  color: #ffffff;
}

.components-list-text-black {
  color: #111111;
}

@media screen and (min-width: 375px) {
  .components {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
