.components {
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.components-title {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 24px;
}

.components-orange-word {
  color: #fd9222;
}

.components-text {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
  margin-bottom: 32px;
}

.components-list-item {
  width: 335px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-bg {
  background-color: #fd9222;
}

.orange-border {
  border: 1px solid #fd9222;
}

.nuts-bg {
  background-color: #1e1823;
}

.components-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.components-list-link {
}
.components-list-img {
}

@media screen and (min-width: 375px) {
  .components {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
