@media screen and (min-width: 376px) {
    .container {
        width: 346px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}



/* MOBILE-MENU-0-767px
@media screen and (max-width: 375px){

}
@media screen and (min-width: 376px){

}
@media screen and (max-width: 767px){

}

/* TABLET-768-1200px */
/* @media screen and (min-width: 768px){

}
@media screen and (max-width: 1199px){

}

/* PC-1200px-8 */
/* @media screen and (min-width: 1200px){

} */

@media screen and (min-width: 376px) {
    .container {
        width: 346px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }
}

.footer {
    background-color: var(--accent-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.container-footer {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-top {
    margin-bottom: 64px;
}

.footer-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--primary-white-color);
    margin-bottom: 32px;
    width: 300px;
    text-align: left;
    text-transform: none;
}

.footer-title-span {
    color: var(--secondary-text-color);
}

.footer-top-wrap {
    display: flex;
    gap: 59px;
}

.footer-sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--primary-white-color);
    margin-bottom: 14px;
}

.footer-address {}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-item {}

.footer-address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer-social-list {
    display: flex;
    gap: 14px;
}

.footer-social-item {
    width: 22px;
    height: 22px;
}

.footer-social-link {}

.footer-svg {
    stroke: #ffffff;
}

.footer-bottom {}

.footer-bottom::before {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 32px;
    position: relative;
}

.footer-nav {}

.footer-bottom-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-bottom-item {}

.footer-bottom-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

/* MOBILE-MENU-0-767px
@media screen and (max-width: 375px){

}
@media screen and (min-width: 376px){

}
@media screen and (max-width: 767px){

}

/* TABLET-768-1200px */
/* @media screen and (min-width: 768px){

}
@media screen and (max-width: 1199px){

}

/* PC-1200px-8 */
/* @media screen and (min-width: 1200px){

} */

@media screen and (min-width: 375px) {
    .footer-top-wrap {
        gap: 113px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container-footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-top {
        margin-bottom: 78px;
        display: flex;
        justify-content: space-between;
    }

    .footer-title {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 0;
    }

    .footer-top-wrap {
        gap: 50px;
    }

    .footer-social-list {
        gap: 18px;
    }

    .footer-bottom-list {
        flex-direction: row;
        gap: 24px;
    }

    .footer-bottom::before {
        bottom: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-top {
        margin-bottom: 86px;
    }

    .footer-top-wrap {
        gap: 63px;
    }
}