@media screen and (min-width: 376px){
    .container {
        width: 346px;
    }
}

@media screen and (min-width: 768px){
    .container {
        width: 738px;
    }
}

@media screen and (min-width: 1200px){
    .container {
        width: 1160px;
    }
}

/* MOBILE-MENU-0-767px */
@media screen and (max-width: 375px){

}
@media screen and (min-width: 376px){

}
@media screen and (max-width: 767px){

}

/* TABLET-768-1200px */
@media screen and (min-width: 768px){

}
@media screen and (max-width: 1199px){

}

/* PC-1200px-8 */
@media screen and (min-width: 1200px){

}