.container-header {
  min-width: 320px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  
}

.logo-header {
  display: flex;
  align-items: center;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.77;
  letter-spacing: -0.03em;
}

.simply-header {
  font-style: italic;
}

.header-logo {
  stroke: #FD9222;
  fill: #FCF1E0;
  width: 21px;
  height: 21px;

}

.burger-btn {
  display: flex;
  width: 28px;
  height: 28px;
  border: none;
  background-color: var(--primary-white-color);
  align-items: center;
  padding: 0;

}

.header-bur {
  stroke: var(--primary-text-color);
}



.menu-mobile {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  right: 2px;
  z-index: 10;
  background-color: var(--primary-text-color);
  transition: var(--function-timing), var(--function-duration);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
}

.menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);

}


.cross-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  border: none;
  align-items: center;
  background-color: transparent;
  padding: 0;
  margin-top: 20px;
  margin-right: 20px;

}

.header-x {
  stroke: var(--primary-white-color);
  width: 28px;
  height: 28px;
}

.cross-btn:focus .header-x,
.cross-btn:hover .header-x {
  stroke: var(--secondary-accent-color);
}

.desk-header:focus {
  color: var(--secondary-accent-color);
}

.header-x:hover,
.header-x:focus {
  stroke: var(--secondary-text-color);
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  margin-top: 136px;

}

.nav-mobile .item-header {
  padding-bottom: 24px;
  padding-left: 50px;
}

.nav-mobile .item-header:hover,
.nav-mobile .item-header:focus {
  color: var(--secondary-accent-color);
}

.soc-net-mobile {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 18px;

}

.link-header-mobile .icon-header {
  fill: transparent;
  stroke: var(--primary-white-color);
  width: 22px;
  height: 22px;
}

.link-header-mobile:hover .icon-header,
.link-header-mobile:focus .icon-header {
  stroke: var(--secondary-accent-color);
}

.link-desktop .icon-header {
  fill: transparent;
  stroke: var(--primary-text-color);
  width: 22px;
  height: 22px;
}

.link-desktop:hover .icon-header,
.link-desktop:focus .icon-header {
  stroke: var(--secondary-accent-color);
}

.header-desktop {
  display: none;
}
.header-desktop-vew {
  display: none;
}

@media screen and (min-width: 376px) {
  .menu-mobile {
      width: 220px;
      right: 4px;
    }


}
@media screen and (min-width: 768px) {
.header-desktop-vew {
  display: none;
}
  .menu-mobile {
    width: 290px;
    right: 14px;
  }

  .header-desktop {
    display: none;
  }

  .header-x {
    stroke: var(--primary-white-color);
    width: 32px;
    height: 32px;
  }
  .header {
    margin-left: 32px;
    margin-right: 32px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-right: 0;
  }

  .header-desktop-vew {
      display: flex;
      display: flex;
        gap: 137px;
        align-items: center;
        
    }

  .burger-btn {
    display: none;
  }

  .header-logo {

    width: 24px;
    height: 24px;

  }


  .soc-desktop-header {
    display: flex;
    gap: 19px;
  }

  .nav-desktop-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 0.87;
    display: flex;
    gap: 24px;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
  }

  .logo-header {
    font-size: 18px;
    line-height: 0.9;
  }

  .logo-header::after {
    background-image: url(/img/symbol-defs.svg#icon-logo_pc);
    width: 24px;
    height: 24px;
  }

  .nav-desktop-header .item-header:hover,
  .desk-header:focus {
    color: var(--secondary-accent-color);
  }

  .icon-header {
    fill: transparent;
    stroke: var(--primary-text-color);
  }

}