
.container-hero {
    min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;}

    

.hero {
    background-image: url(/img/./images_mobile/bg-hero-mobile.jpg);
    background-size: auto;
    height: 620px;
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 0px solid #000000;
    border-radius: 30px;
    margin: 14px 0 72px 0;
    padding-top: 350px;
    
    padding-left: 15px;
    
}



.hero-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-bottom: 32px;
    padding-left: 0;
    width: 200px;
    margin: 0;
}


.hero-btn {
    display: flex;
    gap: 14px;
}
.hero-btn-tablet {
    padding-left: 0;
}
.btn-hero {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 41px;
    border-radius: 100px;
}

.btn-i-hero {
    background: #FD9222;
    border: none;
    width: 100px;
    transition: var(--function-timing), var(--function-duration);
    cursor: pointer;
}

.btn-i-hero:hover,
.btn-i-hero:focus {
    background-color: #FCF1E0;
    color: var(--secondary-text-color);
}

.btn-ii-hero {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 135px;
    transition: var(--function-timing), var(--function-duration);
}

.btn-ii-hero:hover,
.btn-ii-hero-a:focus .btn-ii-hero {
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
}

.hero-scroll {
    display: flex;
    gap: 12px;
    padding-left: px;
    padding-top: 32px;
    align-items: center;
    fill: #FD9222;
}

.hero-scroll:hover .hero-scroll-text,
.hero-scroll:focus .hero-scroll-text {
    color: var(--secondary-text-color);
}

.hero-scroll:hover .btn-check-hero,
.hero-scroll:focus .btn-check-hero {
    background-color: #FD9222;
    fill: #ffffff;
}

.hero-scroll-text {
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    width: 67px;
    padding: 0;
    margin: 0;
    transition: var(--function-timing), var(--function-duration);
}

.btn-check-hero {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    padding-top: 6px;
    transition: var(--function-timing), var(--function-duration);
    text-align: center;
}

.header-desktop {
    display: none;
}
@media screen and (min-width: 376px) {
    .hero-text {
        padding-left: 20px;
        width: 290px;
    }

    .hero {
        padding-top: 395px;
        padding-left: 0;
    }

    .hero-btn-tablet {
        padding-left: 20px;
    }

    .btn-i-hero {
        width: 120px;
    }

    .btn-ii-hero {
        width: 159px;
    }
}
@media screen and (max-width: 767px) {
   
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url(/img/./images_mobile/bg-hero-mobile@2x.jpg);
        
    }
}

@media screen and (min-width: 768px) {
    .container-hero {
        padding: 0;
    }
    .hero {
        background-image: url(/img/./images_tablet/bg-hero-tablet.jpg);
        height: 890px;
        margin-top: 24px;
        padding-top: 671px;
        margin-bottom: 50px;
        margin-left: 32px;
        margin-right: 32px;
        padding-left: 20px;
    }

    .hero-text {
        width: 460px;
        font-size: 28px;
        line-height: 34px;
    }

    .hero-btn-tablet {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }

    .hero-scroll-text {
        width: 78px;
        font-size: 14px;
        line-height: 18px;
    }

    .hero-scroll {
        padding-top: 0;
    }

    .menu-mobile {
        width: 290px;
    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url(/img/./images_tablet/bg-hero-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
.container-hero {
    padding-top: 0;
}
    .hero {
        background-image: url(/img/bg-hero-pc.jpg);
        height: 600px;
        margin-top: 32px;
        padding-top: 381px;
        margin-bottom: 72px;
    }

    .hero-text {
        font-size: 28px;
        line-height: 34px;
        width: 460px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: url(/img/bg-hero-pc@2x.jpg);
    }
}