.how-its-made {
  background-color: var(--bg-primary-color);
  margin-left: auto;
  margin-right: auto;
}

.h-i-m-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.how-its-made-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.title-accent {
  color: var(--secondary-accent-color);
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  max-width: 335px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.video-container > .how-its-made-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.how-its-made-list-wrap {
  background-color: var(--primary-white-color);
  border-radius: 15px;
  padding: 20px 14px;
  max-width: 335px;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

.how-its-made-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.cook-choc-list {
  list-style: disc;
  padding-left: 15px;
}

.cook-choc-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.cook-choc-item:not(:last-child) {
margin-bottom: 18px;
}

@media screen and (min-width: 376px) {
  .h-i-m-container {
      width: 376px;
  }
}

@media screen and (min-width: 768px) {
  .h-i-m-container {
      width: 678px;
      padding-left: 32px;
      padding-right: 32px;
  }

  .how-its-made {
      border-color: var(--bg-primary-color);
  }

  .how-its-made-title {
      font-size: 24px;
      line-height: 1.17;
  }

  .video-container {
      max-width: 614px;
  }

  .how-its-made-list-wrap {
      padding: 32px;
      max-width: 614px;
      height: 356px;
  }

  .how-its-made-text {
      max-width: 355px;
  }
}

@media screen and (min-width: 1200px) {
  .h-i-m-container {
      width: 1200px;
  }

  .how-its-made-list-wrap {
      padding-top: 32px;
      padding-left: 32px;
      padding-bottom: 94px;
      max-width: 516px;
      height: 400px;
      margin-left: 0;
      margin-right: 0;
  }

  .video-list-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-left: auto;
      margin-bottom: auto;
      height: 400px;
  }

  .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
      width: 600px;
      height: 400px;
      border-radius: 15px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
  }

  .video-container>.how-its-made-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      border: 0;
  }

  .cook-choc-item:not(:last-child) {
      margin-bottom: 24px;
  }
}