.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

input {
  margin: 0;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--function-duration) var(--function-timing),
    visibility var(--function-duration) var(--function-timing);
  z-index: 20;
}

.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 14px;
  width: calc(100% - 30px);
  max-width: 311px;
  height: calc(100% - 30px);
  max-height: 621px;
  background-color: var(--bg-primary-color);
  border-radius: 15px;
  transition: var(--function-duration) var(--function-timing);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .buy-now-modal {
  transform: translate(-50%, 500%) scaleY(0);
}

.buy-now-modal-close-btn {
  padding: 0;
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.buy-now-modal-close-icon {
  stroke: var(--primary-text-color);
}

.buy-now-modal-title {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.buy-now-modal-title span {
  color: var(--secondary-text-color);
}

.buy-now-modal-wrap {
  height: 436px;
  overflow-y: auto;
}

.buy-now-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buy-now-product-card {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--primary-white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.buy-now-product-card-wrap {
  padding: 32px 32px 10px 32px;
}

.buy-now-product-card-picture {
  margin: 32px 32px 0;
}

.buy-now-product-card-btn {
  min-width: 96px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
  background: var(--bg-primary-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.buy-now-product-item {
}

.buy-now-modal-form {
  margin-top: 32px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.buy-now-modal-field {
}

.buy-now-input-lable {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000;
}

.buy-now-input-wrap {
  position: relative;
  margin-top: 8px;
}

.buy-now-modal-input {
  width: 100%;
  height: 45px;
  padding-right: 18px;
  padding-left: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000;
  transition-property: border-color;
  transition-duration: var(--function-duration);
  transition-timing-function: var(--function-timing);
}

.buy-now-modal-input:focus {
  border-color: var(--secondary-accent-color);
}

.input-surname {
  margin-top: 14px;
}

.modal-tel-icon {
  width: 24px;
  height: 18px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translatey(-50%);
}

.modal-card-icon {
  width: 21.94px;
  height: 12.89px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translatey(-50%);
}

.buy-now-modal-message {
  margin-top: 8px;
  width: 100%;
  height: 120px;
  padding: 16px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000;
  transition-property: border-color;
  transition-duration: var(--function-duration);
  transition-timing-function: var(--function-timing);
}

.buy-now-modal-message:focus {
  border-color: var(--secondary-accent-color);
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.tel {
  padding-left: 50px;
}

.buy-now-modal-btn-wrap {
  margin-top: 18px;
  margin-left: 10px;
}

.buy-now-modal-send-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--primary-white-color);
  border-radius: 100px;
  background-color: var(--secondary-accent-color);
  min-width: 109px;
  height: 41px;
  padding: 12px 28px;
  border: none;
  transition: color var(--function-duration) var(--function-timing),
    background-color var(--function-duration) var(--function-timing);
}

.buy-now-modal-send-btn:hover,
.buy-now-modal-send-btn:focus {
  background-color: var(--secondary-color-btn);
  color: var(--secondary-accent-color);
}

/* ----------------------------- */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .buy-now-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px;
    width: calc(100% - 30px);
    max-width: 609px;
    height: calc(100% - 30px);
    max-height: 621px;
    background-color: var(--bg-primary-color);
    border-radius: 15px;
    transition: var(--function-duration) var(--function-timing);
    transform: translate(-50%, -50%) scale(1);
  }

  .buy-now-modal-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .buy-now-product-list {
    flex-direction: row;
    justify-content: center;
  }

  .buy-now-product-card {
    width: 160px;
  }

  .buy-now-input-lable {
    font-size: 14px;
    line-height: 1.29;
  }

  .buy-now-input-wrap.person {
    display: flex;
    gap: 21px;
  }

  .buy-now-modal-input {
    height: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .input-surname {
    margin-top: 0;
  }

  .modal-tel-icon {
    width: 32px;
    height: 24px;
    left: 24px;
  }

  .modal-card-icon {
    width: 30.17px;
    height: 18.41px;
    right: 24px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }

  .tel {
    padding-left: 74px;
  }

  .buy-now-modal-send-btn {
    min-width: 133px;
    height: 45px;
    padding: 14px 40px;
  }
}
