.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--function-duration) var(--function-timing),
    visibility var(--function-duration) var(--function-timing);
  z-index: 20;
}

.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 14px;
  width: calc(100% - 30px);
  max-width: 311px;
  height: calc(100% - 30px);
  max-height: 621px;
  background-color: #fafafa;
  border-radius: 15px;
  transition: var(--function-duration) var(--function-timing);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .buy-now-modal {
  transform: translate(-50%, 500%) scaleY(0);
}

.buy-now-modal-close-btn {
  padding: 0;
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.buy-now-modal-close-icon {
  stroke: var(--primary-text-color);
}

.buy-now-modal-title {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.buy-now-modal-title span {
  color: var(--secondary-text-color);
}

.buy-now-product-list {
}

.buy-now-modal {
  height: calc(100% - 24px);
  overflow-y: auto;
}

.buy-now-product-item {
}

.buy-now-modal-form {
  padding-right: 14px;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.buy-now-modal-field {
}
.buy-now-input-lable {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000;
}
.buy-now-input-wrap {
}
.buy-now-modal-input {
  margin-top: 8px;
  width: 100%;
  height: 45px;
  padding-right: 18px;
  padding-left: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000;
  transition-property: border-color;
  transition-duration: var(--function-duration);
  transition-timing-function: var(--function-timing);
}

.buy-now-modal-input:focus {
  border-color: var(--secondary-accent-color);
}

.input-surname {
  margin-top: 14px;
}

.buy-now-modal-message {
  margin-top: 8px;
  width: 100%;
  height: 120px;
  padding: 16px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000;
  transition-property: border-color;
  transition-duration: var(--function-duration);
  transition-timing-function: var(--function-timing);
}

.buy-now-modal-message:focus {
  border-color: var(--secondary-accent-color);
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.buy-now-modal-btn-wrap {
}
.buy-now-modal-send-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  border-radius: 100px;
  background-color: var(--secondary-accent-color);
  min-width: 109px;
  height: 41px;
  padding: 12px 28px;
  border: none;
  transition: color var(--function-duration) var(--function-timing),
    background-color var(--function-duration) var(--function-timing);
}

.buy-now-modal-send-btn:hover,
.buy-now-modal-send-btn:focus {
  background-color: #fcf1e0;
  color: var(--secondary-accent-color);
}

/* ----------------------------- */

@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
  }
}
