.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 28, 19, 0.4);
  z-index: 30;
  transition: opacity var(--function-duration) var(--function-timing),
    visibility var(--function-duration) var(--function-timing);
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%) scaleY(0);
  z-index: 40;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
}

.modal-review {
  max-width: 311px;
  max-height: 471px;
  padding: 14px;
  border-radius: 15px;
  background-color: var(--bg-primary-color);
  transition: var(--function-duration) var(--function-timing);
}

.modal__cross {
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  stroke: var(--primary-text-color);
  cursor: pointer;
}

.modal-review-wrap {
  padding: 0 10px 10px;
}

.modal-review-title-wrap {
  max-width: 255px;
  max-height: 48px;
}

.modal-review-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.modal-review-title span {
  color: var(--secondary-text-color);
}

.modal-review-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 24px;
}

.buy-now-input-wrap {
  margin-top: 0;
}

.buy-now-modal-message {
  height: 91px;
  margin-top: 0px;
}

.buy-now-modal-btn-wrap {
  margin-top: 18px;
}

/* ----------------------------- */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .modal-review {
    max-width: 517px;
    max-height: 631px;
    padding: 24px;
  }

  .modal__cross {
    width: 28px;
    height: 28px;
  }

  .modal-review-wrap {
    padding: 0 16px 16px;
  }

  .modal-review-title-wrap {
    max-width: 298px;
    max-height: 56px;
  }

  .modal-review-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .modal-review-form {
    gap: 19px;
    margin-top: 26px;
  }

  .buy-now-modal-message {
    height: 137px;
  }
}
