.products {
}
.products-title {
  margin: 0 auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}
.products-title-span {
  color: #fd9222;
}
.products-list {
  display: flex;
  gap: 18px;
  margin-top: 50px;
}
.products-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 364px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.products-picture {
  margin-top: 32px;
  align-items: center;
  width: 230px;
  height: 201px;
}
.products-description {
  margin: 8px 0 18px;
  text-align: center;
}
.products-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #111111;
}
.products-text {
  margin-top: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  margin: 0 auto 32px;
  padding: 8px 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

@media screen and (min-width: 376px) {
  .container {
    width: 346px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* MOBILE-MENU-0-767px */
@media screen and (max-width: 375px) {
}
@media screen and (min-width: 376px) {
}
@media screen and (max-width: 767px) {
}

/* TABLET-768-1200px */
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 1199px) {
}

/* PC-1200px-8 */
@media screen and (min-width: 1200px) {
}
