/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./how-its-made.css');
@import url('./products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal-buy-now.css');
@import url('./modal-thank-buying.css');
@import url('./modal-review.css');
@import url('./modal-thank-feedback.css');
@import url('./modal-subscribe.css');

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-Medium.ttf),
  url(/src/fonts/Montserrat-Medium.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-Regular.ttf),
  url(/src/fonts/Montserrat-Regular.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  font-family: 'Montserrat', sans-serif;
  src: url(/src/fonts/Montserrat-SemiBold.ttf),
  url(/src/fonts/Montserrat-SemiBold.woff);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body, button, link, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 400;
}