/* ---------------Subscribe---------------- */
.subscribe {
  max-width: 1440px;
  height: auto;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(whisk-filled-with-melted-chocolate-close-up.jpg); */
  background-image: url(../img/images_mobile/bg-footer-mobile.jpg), var(--bg-grad-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .subscribe {
      background-image: url(../img/images_mobile/bg-footer-mobile@2x.jpg);
  }
}

.sub-cont {
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 24px;
}

.subscribe-text {
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--primary-white-color);
  margin-bottom: 24px;
}

.subscribe-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
  border-radius: 100px;
  width: 128px;
  height: 41px;
  padding: 12px 28px;
  border: 0;
  transition: background-color 250ms var(--function-timing), color 250ms var(--function-timing);
}

.subscribe-btn:is(:hover, :focus) {
  color: var(--secondary-text-color);
  background-color: #FCF1E0;
  ;
}

@media screen and (min-width: 376px) {
  .sub-cont {
    width: 376px;
  }
}

@media screen and (min-width: 768px) {
 .sub-cont {
      width: 768px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

.subscribe {
      background-image: url(../img/images_tablet/bg-footer-tablet.jpg), var(--bg-grad-footer);
      background-size: cover;
      background-size: 100%;
      padding-top: 72px;
      padding-bottom: 72px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .subscribe {
          background-image: url(../img/images_tablet/bg-footer-tablet@2x.jpg);
      }
}

.subscribe-title {
      font-size: 24px;
      line-height: 1.17;
  }

  .subscribe-text {
      width: 467px;
      text-align: center;
  }

  .subscribe-btn {
      font-size: 18px;
      width: 172px;
      height: 50px;
      padding: 14px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-cont {
      width: 1200px;
  }

  .subscribe {
      background-image: url(../img/bg-footer-pc.jpg), var(--bg-grad-footer);
      background-size: cover;
      background-size: 100%;
      padding-top: 72px;
      padding-bottom: 72px;

  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .subscribe {
          background-image: url(../img/bg-footer-pc@2x.jpg);
      }
  }
}