.top-sellers-container{
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.top-sellers {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    background-color: var(--bg-primary-color);
  }
  
  .top-sel-pic {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 32px;
  }
  
  .top-sellers-title {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
  
  .title-color {
    color: var(--secondary-accent-color);
  }
  
  .top-sellers-item:last-child {
    display: none;
  }
  
  .top-sellers-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
  }
  
  .top-sellers-paragraph {
    display: none;
  }
  
  .top-sellers-btn {
    margin: 0 auto;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-white-color);
    width: 120px;
    height: 41px;
    border: 1px solid var(--secondary-accent-color);
    background: var(--secondary-accent-color);
    border-radius: 100px;
    transition: background-color 250ms var(--function-timing), 
    color 250ms var(--function-timing);
  }
  
  .top-sellers-btn:is(:hover, :focus) {
    color: var(--secondary-text-color);
    background-color: #FCF1E0;;
  }

  @media screen and (max-width: 374px){

    .top-sellers-container{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
  }


  @media screen and (min-width: 375px){
    
    .top-sellers-container {
        max-width: 375px;
    }
  }
    
  
  @media screen and (min-width: 768px){
    .top-sellers {
      padding-top: 100px;
    }
  
    .top-sellers-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .top-sel-pic {
        margin-top: 50px;
        margin-bottom: 32px;
    }
    .top-sellers-title {
        font-size: 24px;
        line-height: 1.17;
    }
      
    .top-sellers-list {
        display: flex;
    }
      
    .top-sellers-item:not(:first-child) {
        margin-left: 16px;
    }
      
    .top-sellers-text {
        display: none;
    }
      
    .top-sellers-paragraph {
        display: block;
        max-width: 306px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: var(--primary-text-color);
    }
      
    .top-sellers-div {
        display: flex;
    }
      
    .top-sellers-btn {
        margin-right: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: var(--primary-white-color);
        width: 162px;
        height: 50px;
        border: 1px solid var(--secondary-accent-color);
        background: var(--secondary-accent-color);border-radius: 100px;
    }
  }
    
  @media screen and (min-width: 1200px){
    .top-sellers {
      padding-top: 129px;
    }
    .top-sellers-container {
        max-width: 1200px;
    }
  
    .top-sellers-item:last-child {
        display: block;
    }
    .top-sellers-paragraph {
        max-width: 407px;
    }
  }